go 1.21.3

use (
	./cmd/nbe
	./docker/go
  ./examples/messaging/protobuf/go
  ./examples/micro/intro/go
  ./examples/operations/stan2js/cli/generate-stan-data
  ./examples/auth/callout/cli/service
  ./examples/auth/callout-decentralized/cli/service
  ./examples/auth/callout-decentralized/cli/client
)
