<!doctype html>
<html>
<head>
	{{template "head"}}
</head>
<body>
  <header>
    <div class="container">
      {{template "logo"}}
    </div>
  </header>

  <div id="hero">
    <div class="container">
      <h2>Learn NATS by Example</h2>
      <p>An evolving collection of runnable, cross-client reference examples for <a href="https://nats.io" target=_blank>NATS</a>.</p>

      <pre>$ nbe run messaging/pub-sub/{cli,go,rust,python,deno,...}</pre>

      <div>
        Learn how to <a href="https://github.com/bruth/nats-by-example#getting-started">get started</a> or just start browsing the examples below 👇!</a>
      </div>
    </div>
  </div>

  <main>
    <div class="container">
    {{range .Categories}}
      <h2>{{.Title}}</h2>
      <p class="quiet">{{.Description}}</p>
      <ul>
      {{range .ExampleLinks}}
        <li><a href="/{{.Path}}">{{.Label}}</a></li>
      {{end}}
      </ul>
    {{end}}
    </div>
  </main>

  <footer>
  </footer>
</body>
</html>
